* {
    margin: 0;
    padding: 0;
}

#board {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}
 
.box {
    width : 60px;
    height: 60px;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
