* {
    margin: 0;
    padding: 0;
}

#board {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 900px;
}
 
.box {
    width : 60px;
    height: 60px;
}

.box-transform {
    width : 60px;
    height: 60px;
    background-color: black;

}