*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 205px);
    row-gap: 5px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: rgba(45, 217, 163, 0.836);
    font-size: 9em;
    text-align: center;
    line-height: 205px;
    cursor: pointer;
    transition: transform 0.6s;
}

/* .box-transform {

} */