
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* .game-container {

    border: solid 1px red;

} */

.game-board {
    display: flex;
    flex-direction: row;

}

.counter-box {
    padding-top: 30vh;
    text-align: center;
}

#counter-turn {
    margin-left: 20vh;
    margin-right: 35vh;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
}

.grid-container {
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
    text-align: center;
    align-items: center;

}

#board {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 205px);
    row-gap: 5px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: rgba(194, 216, 224, 0.836);
    font-size: 9em;
    text-align: center;
    line-height: 205px;
    cursor: pointer;
    transition: transform 0.6s;
}

.box-circle {
    background-color: crimson;
    color: pink;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

.box-cross {
    background-color: rgb(44, 168, 64);
    color: rgb(168, 254, 121);
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

.info-container {
    margin-top: 30px;
}

#player-turn {
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;

}