* {
    margin: 0;
    padding: 0;
}

#board {
    display: flex;
    justify-content: center;
}
 
.box {
    display: flex;
    justify-content: center;
    width : 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    background-color : rgb(255, 188, 18);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;   
    line-height: 195px;
    cursor: pointer;
}


.box:active {
    transform: translateY(4px);
}